.ui-delete {
  display: none;
  cursor: pointer;
  background: #ed8f8f;
  color: white;
  position: absolute;

  width: 20px;
  height: 20px;
  font-size: 9px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 50%;
}